/*-----------------------------------------------------------------------------------*/
/*	01.	Dock
/*-----------------------------------------------------------------------------------*/

.dock {
	position: fixed;
	bottom: 0px;
	z-index: 10;
	width: 99%;
	text-align: center;
}
.dock ul {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	margin: 0;
	background:url(../files/mac/dock-bg.png) repeat-x bottom;
}
.dock ul:before, .dock ul:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 38px;
}
.dock ul:before {
	left: -38px;
	background: url(../files/mac/dock-bg-left.png) no-repeat left bottom;
}
.dock ul:after {
	right: -38px;
	background: url(../files/mac/dock-bg-right.png) no-repeat right bottom;
}
.dock li {
	display: inline-block;
	position: relative;
	margin: 0 0 15px 5px;
	-webkit-box-reflect: below -16px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(91%, rgba(255, 255, 255, .1)), color-stop(91.01%, transparent), to(transparent));
	transition:all linear .4s;
}
.dock em {
	position: absolute;
	top: -34px;
	left: 50%;
	display: none;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}
.dock em:after {
	content: " ";
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.6);
	border-bottom: none;
}
.dock em span {
	display: inline-block;
	padding: 5px 12px;
	background: rgba(0, 0, 0, 0.6);
	font-style:normal;
	font-size:12px;
	color:#fff;
	text-shadow:0 1px 1px #000;
	border-radius: 10px;
}
.dock li:hover em {
	display: block;
}
.dock img {
	width: 48px;
	height: auto;
	border: none;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
}
.dock li:hover img {
	width: 128px;
}
.dock li:target img{
	-webkit-animation: bounce 1600ms ease-out;
	-moz-animation: bounce 1600ms ease-out;
	-o-animation: bounce 1600ms ease-out;
	animation: bounce 1600ms ease-out;
}
.dock li:hover + li img{
	width:96px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
}
.dock !li:hover + li img{
	width:96px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
}
.bounce{
	-webkit-animation: bounce 1600ms ease-out;
	-moz-animation: bounce 1600ms ease-out;
	-o-animation: bounce 1600ms ease-out;
	animation: bounce 1600ms ease-out;
}
@-webkit-keyframes bounce {
	  0% { -webkit-transform: translateY(0); }
	25% { -webkit-transform: translateY(-20px); }
	50% { -webkit-transform: translateY(0); }
	75% { -webkit-transform: translateY(-20px); }
	100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes bounce {
	  0% { -moz-transform: translateY(0); }
	25% { -moz-transform: translateY(-20px); }
	50% { -moz-transform: translateY(0); }
	75% { -moz-transform: translateY(-20px); }
	100% { -moz-transform: translateY(0); }
}

