#finder-bar{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 22px;
	font-family: inherit;
	background-image: linear-gradient(bottom, rgb(199,199,199) 0%, rgb(242,242,242) 100%);
	background-image: -o-linear-gradient(bottom, rgb(199,199,199) 0%, rgb(242,242,242) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(199,199,199) 0%, rgb(242,242,242) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(199,199,199) 0%, rgb(242,242,242) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(199,199,199) 0%, rgb(242,242,242) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(199,199,199)),
		color-stop(1, rgb(242,242,242))
		);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	z-index: 2000;
}
ul.f-menu-left{
	float: left;
	left: 10px;
	margin-left: -40px;
}
ul.f-menu-right{
	float: right;
}
ul.finder-menu{
	position: absolute;
	top:-16px;
	list-style: none;
}
ul.finder-menu li{
	display: inline-block;
	padding: 0px 5px;
	min-width: 34px;
	text-align: center;
	height: 22px;
}
ul.finder-menu li img{
	position: relative;
	top:2px;
	width: 17px;
	height: 17px;
}
ul.f-menu-left li.img{
	position: relative;
	top:2px;
	height: 22px;
}
ul.f-menu-right li.img{
	position: relative;
	top:2px;
	height: 22px;
	width: 17px!important;
	padding: 0px;
}
ul.finder-menu li.disabled{
	color:#777;
}
ul.finder-menu li.disabled:hover{
	color:#777;
	background-image: none;
}
ul.finder-menu li:hover{
	background-image: linear-gradient(bottom, rgb(14,90,221) 0%, rgb(91,133,249) 100%);
	background-image: -o-linear-gradient(bottom, rgb(14,90,221) 0%, rgb(91,133,249) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(14,90,221) 0%, rgb(91,133,249) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(14,90,221) 0%, rgb(91,133,249) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(14,90,221) 0%, rgb(91,133,249) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(14,90,221)),
		color-stop(1, rgb(91,133,249))
		);
	color:#fff;
}
ul.finder-menu li:hover ul{
	display: block;
	color: #000;
}
ul.finder-menu li.img:hover ul{
	display: block;
	color: #000;
}
ul.finder-menu li ul{
	display: none;
	position: absolute;
	top:24px;
	margin-left: -5px;
	background: #f5f5f5;
	border-radius: 0px 0px 4px 4px;
	list-style: none;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	z-index: 200;
	padding: 5px 0px;
	opacity:0.95;
	width: 190px;
}
ul.finder-menu li.img ul{
	position: absolute;
	top:22px;
}
ul.finder-menu li ul li{
	text-align: left;
	width: 170px;
	padding: 0px 5px 0px 15px;
}
ul.finder-menu li ul li:focus{
	display: none;
}
ul.finder-menu li ul hr{
	border:none;
	background:#ddd;
	clear: both;
	height: 1px;
}